<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="TaskMaster"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight"
        tools:targetApi="31">

        <!-- SplashActivity - NOUVEAU POINT D'ENTRÉE -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />

        <!-- AddTaskActivity -->
        <activity
            android:name=".ui.AddTaskActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <!-- BroadcastReceiver pour les actions de notification -->
        <receiver
            android:name=".utils.TaskActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="MARK_AS_DONE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
